<!-- partials/students.html -->

<div class="jumbotron text-center">
    <h1>Students</h1>
    <p>This page show all <span class="text-danger">Students</span>.</p>
</div>

<div ui-view></div>
<div ng-controller="studentsCtrl">
    <!-- FORM -->
    <form name="userForm" data-toggle="validator" id="sendMessageForm" method="post" class="form-horizontal col-sm-6"
          ng-submit="submitForm(userForm.$valid)" novalidate>
        <!--STUDENT'S FIRST NAME-->
        <div class="form-group"
             ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine && submitted}">
            <label class="col-xs-3 control-label">FName:</label>

            <div class="col-xs-6">
                <input name="firstName" class="form-control" type="text" ng-model="student.firstName"
                       required ng-minlength="3" placeholder="Student first name"/>

                <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine && submitted"
                   class="help-block">Student's
                    first name is required and > 3 letters.</p>
            </div>
        </div>
        <!--STUDENT'S LAST NAME-->
        <div class="form-group"
             ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine  && submitted}">
            <label class="col-xs-3 control-label">LName:</label>

            <div class="col-xs-6">
                <input name="lastName" class="form-control" type="text" ng-model="student.lastName"
                       required ng-minlength="3" placeholder="Student last name"/>

                <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine && submitted" class="help-block">
                    Student's
                    first name is required and > 3 letters.</p>
            </div>
        </div>
        <!--STUDENT'S BIRTHDAY 720kb.datepicker-->
        <div class="form-group">
            <label class="col-xs-3 control-label">Birthday:</label>

            <div class="col-xs-6">
                <datepickers date-format="yyyy-MM-dd" selector="form-control">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="student.birthday"
                               placeholder="Choose a date"/>
                        <span class="input-group-addon" style="cursor: pointer"><i
                                class="fa fa-lg fa-calendar"></i></span>
                    </div>
                </datepickers>
            </div>
        </div>
        <!--STUDENT'S YEAR OF STUDY-->
        <div class="form-group"
             ng-class="{ 'has-error' : userForm.year.$invalid && !userForm.year.$pristine  && submitted}">
            <label class="col-xs-3 control-label">YearStudy:</label>

            <div class="col-xs-6">
                <input name="year" class="form-control" type="text" ng-model="student.yearOfStudy"
                       required ng-pattern="/^[0-9]{1,7}$/" placeholder="Student year of study"/>

                <p ng-show="userForm.year.$error.pattern && submitted" class="help-block">Year of study must be a
                    number.</p>
            </div>
        </div>
        <!--DROPDOWN LIST TESTING // STUDENT'S INSTITUTION-->
        <div class="form-group dropdown">
            <label class="col-xs-3 control-label">Institution:</label>
            <div class="col-xs-6">
                <select class="form-control" ng-model="institution"
                        ng-options="institution for institution in institutions">
                    <option value='' disabled selected style='display:none;'>Select institution</option>
                </select>
            </div>
        </div>
        <!-- Dropdown list // Student's facultate-->
        <div class="form-group dropdown">
            <label class="col-xs-3 control-label">Facultate:</label>
            <div class="col-xs-6">
                <select class="form-control" ng-model="facultate"
                        ng-options="facultate for facultate in facultati"/>
            </div>
        </div>
        <!--SUBMIT + TOASTER-->
        <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3" align="right">
                <!-- NOTE: remove 'animation-class': 'toast-top-center' if you want it on the left top corner -->
                <input type="button" class="btn btn-default" type="submit" value="Submit"
                       ng-click="saveStudent()"/>
                <!--<input type="button" class="btn btn-danger" type="submit" value="Clear" ng-click="clear()" />-->
            </div>
        </div>
    </form>
    <!--{{students}}-->
    <div class="table-responsive col-sm-6">
        <table ng-table="studentTable" class="table table-striped table-bordered table-hover">
            <tr ng-repeat="studentData in $data">
                <td data-title="'FName'">{{studentData.firstName}}</td>
                <td data-title="'LName'">{{studentData.lastName}}</td>
                <td data-title="'YearStudy'">{{studentData.yearOfStudy}}</td>
                <td data-title="'Birthday'">{{studentData.birthday | date: 'dd.MM.yyyy'}}</td>
                <!-- Student -> Institution -->
                <!--<td data-title="'Institution'">{{studentData.institution.institutionName}}</td>-->
                <!-- Student -> Facultate -->
                <td data-title="'Facultate'">{{studentData.facultate.numeFacultate}}</td>
                <td data-title="'Edit'" style="white-space: nowrap">
                    <button class="btn btn-primary btn-xs" ng-click="getStudent(studentData)">
                        <i class="glyphicon glyphicon-pencil"></i></button>
                    <!--<button class="btn btn-danger btn-xs" ng-click="deleteStudent(studentData.id)">-->
                    <button class="btn btn-danger btn-xs" ng-click="testModal(studentData.id)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!--<button ng-click="testModal()">Modal</button>-->
</div>